* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-size: 80px;
    --background-color: #f9f9f93f;
    --text-color:#fff;
    --btn-background:#74b48d98;
}

html {
    height: 100%;
}

a{
    color: #000;
    text-decoration: none;
}

h1{
    color: var(--text-color);
}

form{
    width: 75%;
}
body {
    margin: 0;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #474747;
    background-image: url('/images/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.btn {
    border: #969494 solid 1px;
    border-radius: 5px;
    background: none;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.6rem;
    padding: 10px 20px;
}

.btn:hover {
    background: var(--btn-background);
    border: 1px solid #74B49B;
    color: #000;
}

.nav {
    display: flex;
    align-items: center;
    /* border-bottom: 1px #fff solid; */
    background-color: var(--background-color);
    justify-content: space-between;
    padding: 10px 20px;
}

.logo-container {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
}

.logo {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
    height: calc(100% - var(--nav-size));
}

.wrapper {
    display: flex;
    background-color: var(--background-color);
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 50%);
    padding: 40px 40px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 5px 5px 0;
    width: 100%;
}

.lables-container,
.inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 30px 0;
}

.lables-container {
    padding-left: 30px;

}

.inputs-container {
    padding-right: 20px;
    padding-left: 10px;
}

.lat-lable,
.long-lable {
    color: var(--text-color);
    font-size: 1.6rem;
}

.lat-input>input,
.long-input>input {
    height: 30px;
    width: 100%;
    padding: 2px 5px;
}

.submit {
    display: flex;
    justify-content: end;
    padding-right: 30px;
    margin-bottom: 20px;
}

.get-localtion {
    padding-top: 40px;
}
.get-localtion>button {
    padding: 10px 20px;
}

/* moble */

.container-mob{
    padding: 50% 0;
}

.form-container-mob{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    width: calc(100% );
}

.form-container-mob>input{
    padding: 10px;
    border-radius: 10px;
}

.form-mob{
    width: calc(100% - 40px);
}

.wrapper-mob {
    display: flex;
    background-color: var(--background-color);
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0;
    margin: calc(50%/2) 0;
}

.wrapper-mob > .header-text{
    font-size: 1.4rem;
}

.wrapper-mob > .get-localtion>button{
    font-size: 1.25rem;
    background: var(--btn-background);
}

.label-mob{
    color: var(--text-color);
    padding: 10px 5px 5px 5px;
    font-size: 1.25rem;
}

.btn-mob{
    background-color: var(--btn-background);
    
}
